.copyright {
	color: #B3B3B3;
	font-size: 10px;
}

.copyright p {
	text-align: center;
}

.nav {
	background-color: #FFFFFF;
	margin-top: 5px;
	margin-bottom: 5px
}

.nav li {
	display: inline;
}

.nav a {
	color: #B3B3B3;
	font-weight: bold;
	text-transform: uppercase;
}

.jumbotron {
	background-image: url(http://37.media.tumblr.com/16caef4016f61f97e681bd7edc8da760/tumblr_n7a7191pLP1qlxg49o1_1280.jpg);
	height: 500px;
}

.jumbotron .container {
	position: relative;
	top: 100px;

}

.jumbotron h1 {
	color: #fff;
}

.jumbotron p {
	color: #fff;
}
